<div class="plans">
  <div class="plan" data-name="monthly" data-price="5">
    <p><strong>1 Month Membership</strong><br>{{ '€' if continent == "EU" else '$' }}5 / month</p>
  </div>
  <div class="plan best active" data-name="yearly" data-price="36">
    <p><strong>12 Months Membership</strong><br>{{ '€' if continent == "EU" else '$' }}3 / month</p>
  </div>
  <div class="plan" data-name="lifetime" data-price="60">
    <p><strong>Lifetime Membership</strong><br>{{ '€' if continent == "EU" else '$' }}60</p>
  </div>
  <div style="clear:both"></div>
</div>
